@import '../common/utilities/variable';
@import '../common/mixins/mixins';


.serviceCard {
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: size(100) 0;
  background-color: #F5F5F5;
  @include max(991.98) {
    padding: size(50) 0;
  }
  h2 {
    font-size: size(50);
    line-height: size(68);
    font-weight: 400;
    color: #000;
    margin-bottom: 40px;
    @include max(991.98) {
      font-size: size(28);
      line-height: size(40);
      margin-bottom: 20px;
    }
  }

  .serviceCard-wrapper {
    overflow: hidden;
    transition: all ease-in-out 0.3s;
    .wrap-img {
      width: 100%;
      height: 125px;
      overflow: hidden;
      figure {
        width: 100%;
        height: 100%;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          transition: all ease-in-out 0.3s;
        }
      }
    }
    .wrap-cont {
      padding: 25px 30px 30px;
      background-color: #fff;
      position: relative;
      &::after {
        content: '';
        width: 0;
        height: 2px;
        background-color: #000;
        position: absolute;
        left: 0;
        bottom: 0;
        transition: all ease-in-out 0.3s;
      }
      h3 {
        font-size: size(24);
        line-height: size(34);
        color: #000;
        font-weight: 500;
      }
      p {
        color: #000;
        font-size: size(16);
        line-height: size(30);
      }
      .view {
        a.viewBtn {
          &:hover {
            color: #000;
          }
        }
      }
    }
    &:hover {
      img {
        transform: scale(1.1);
      }
      .wrap-cont {
        &::after {
          width: 100%;
        }
      }
      a.viewBtn {
        color: #000;
        &::after {
          right: -4px;
          background-image: url("../../assets/images/arrow-right-black.svg");
        }
      }
    }
  }
}