@import '../common/utilities/variable';
@import '../common/mixins/mixins';

.portfolio {
  padding: size(100) 0;

  @include max(1199.98) {
    padding: size(70) 0;
  }

  @include max(991.98) {
    padding: size(45) 0 ;
  }
  h2 {
    font-size: size(50);
    line-height: size(68);
    font-weight: 400;
    color: #000;
    margin-bottom: 40px;
    @include max(991.98) {
      font-size: size(28);
      line-height: size(40);
      margin-bottom: 20px;
    }
  }

  .row {
    --bs-gutter-x: #{size(43)};
    row-gap: size(40);
  }

  .card {
    &-img {
      max-width: size(518);
      width: 100%;
      margin-bottom: size(30);

      @include max(991.98) {
        margin-bottom: size(14);
      }

      // .reveal-img {
      //   position: relative;
      //   clip-path: polygon(100% 0%, 100% 0%, 100% 50%, 0% 50%, 0% 100%, 0% 100%, 0% 50%, 100% 50%);
      //   overflow: hidden;
      //   @media (max-width: 768px) {
      //     clip-path: none;
      //   }
      // }

      figure {
        @include aspectRatio(518, 518);
        overflow: hidden;

        img {
          transition: all ease-out 0.5s;
          will-change: transform;
        }

      }
    }

    &-footer { 
      h4 {
        font-size: size(20);
        line-height: size(34);
        margin-bottom: size(16);
        color: #000;

        @include max(991.98) {
          margin-bottom: size(8);
        }
      }

      .fs-18 {
        line-height: 1.7;
        max-width: size(385);
      }   
    }

    &:hover {
      img {
        transform: scale(1.08);
      }
    }
  }

 

}
