.about-us {
  background-color: #000;
}
@media screen and (min-width: 992px) {
  .about-us .container {
    display: none;
  }
}
.about-us .wrap {
  height: 100%;
  overflow: hidden;
}
.about-us .wrap .video {
  height: 500px;
}
@media screen and (max-width: 992px) {
  .about-us .wrap .video {
    height: 350px;
  }
  .about-us .wrap .video #autoplay-video {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.about-us .about-box {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3.125rem 1.25rem;
}
@media screen and (min-width: 992px) {
  .about-us .about-box .abt-box {
    padding: 3.125rem 1.25rem;
  }
}
@media screen and (min-width: 1400px) {
  .about-us .about-box .abt-box {
    padding: 4.5rem 4.625rem 4.5rem 5.5625rem;
    max-width: 45.625rem;
  }
}
.about-us .about-box .abt-box .abt {
  color: #fff;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  letter-spacing: -0.08375rem;
}
.about-us .about-box .abt-box .abt-title {
  color: #fff;
  font-weight: 400;
  line-height: 2.8125rem;
  letter-spacing: -0.08375rem;
  margin-top: 1rem;
}
@media screen and (min-width: 1200px) {
  .about-us .about-box .abt-box .abt-title {
    line-height: 4.1875rem;
  }
}
.about-us .about-box .abt-box .abt-para {
  color: #fff;
  line-height: 1.875rem;
  margin-top: 0.625rem;
  opacity: 0.9;
}
@media screen and (min-width: 992px) {
  .about-us .about-box .abt-box .abt-para {
    opacity: 1;
    margin-top: 1.6875rem;
  }
}
.about-us .about-box .abt-box .about-details {
  margin-top: 2.6875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 2.875rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (min-width: 992px) {
  .about-us .about-box .abt-box .about-details {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 2.5625rem;
    gap: 4.8125rem;
  }
}
.about-us .about-box .abt-box .about-details .first {
  padding-bottom: 1.625rem;
  border-bottom: 1.5px solid #fff;
  width: 100%;
}
@media screen and (min-width: 992px) {
  .about-us .about-box .abt-box .about-details .first {
    width: 50%;
    max-width: 15.375rem;
    padding-bottom: 2.4375rem;
  }
}
.about-us .about-box .abt-box .about-details .first .number {
  color: #FCBF10;
  font-weight: 500;
  line-height: 1.75rem;
}
.about-us .about-box .abt-box .about-details .first .details {
  margin-top: 1.375rem;
  color: #fff;
  line-height: 1.75rem;
  font-size: 1.25rem;
}
@media screen and (min-width: 992px) {
  .about-us .about-box .abt-box .about-details .first .details {
    font-size: 1rem;
    margin-top: 1.75rem;
  }
}